/* Apply a dark theme to the form */
* {
    font-family: Arial, Helvetica, sans-serif
}

/* Apply a dark theme to the form */
.dark {
    background-color: #333;
    color: #c0adad;

    a {
        color: #c0adad;
    }

    /* apply color to the text input and textarea */
    input[type="text"],
    textarea {
        background-color: #333;
        color: #c0adad;
        border: 2px embossed #c0adad
    }
}

/* #username-input {
    background-color: #333;
    color: #c0adad;
    border: 2px embossed #c0adad
} */

/* style the buttons */
button {
    font-weight: bold;
    border-radius: 5px;

}